.layout {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    background: #172933;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.page-container {
    width: 100%;
    max-width: 1000px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}