.game {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #172933;
    color: #eae0d5;
}

.game-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 1rem;
}

.hud {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    gap: 0.5rem;

    padding: 10px;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.03);
}

.map-container {
    margin-top: -10px;
    margin-bottom: -10px;
    min-height: 300px;

    position: relative;
    z-index: 1;
}

.answer-result {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: -15px;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.controls button {
    margin-top: -10px;
    width: 100%;
    max-width: 400px;

    padding: 14px;
    font-size: 18px;
    border-radius: 10px;

    border: none;
    color: #eae0d5;

    cursor: pointer;
    transition: 0.25s;

    background: linear-gradient(135deg, rgb(55, 78, 88), rgb(43, 63, 71));
}

.controls button:hover {
    transform: translateY(-2px);
}

@media (max-width: 600px) {

    .hud {
        flex-direction: column;
        text-align: center;
        padding: 8px;
    }

    .game-layout {
        margin-top: 100px;
        gap: 1rem;
    }

    .map-container {
        min-height: 250px;
    }

    .controls {
        flex-direction: column;
    }

    .controls button {
        max-width: none;
    }
}